# Serenity-BDD
/target/

# Intellij
/.idea/
/out/

# Gradle
/.gradle/
/build/

# Eclipse
.classpath
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Sonar ###
#Sonar generated dir
/.sonar/

